# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

coverage.*
*.test
bin/
codegen/test/
node_modules/
docs/.vitepress/dist/
docs/.vitepress/cache/

tests/**/client.go
dist/
