func (ctx DBContext) logQuery(msg string, err error, duration time.Duration, sql string, args ...interface{}) {
	if err != nil {
		ctx.logger.WithError(err).WithField("args", args).WithField("sql", sql).Error(msg)
		return
	}

	if duration > time.Millisecond*500 {
		ctx.logger.WithField("duration", duration).WithField("args", args).WithField("sql", sql).Warn("[SLOW QUERY] " + msg)
		return
	}

	ctx.logger.WithField("duration", duration).WithField("args", args).WithField("sql", sql).Debug(msg)
}

