func (ctx DBContext) logQuery(msg string, err error, duration time.Duration, sql string, args ...interface{}) {
	if err != nil {
		ctx.logger.Error().Err(err).Any("args", args).Str("sql", sql).Msg(msg)
		return
	}

	if duration > time.Millisecond*500 {
		ctx.logger.Warn().Dur("duration", duration).Any("args", args).Str("sql", sql).Msg("[SLOW QUERY] " + msg)
	}

	ctx.logger.Debug().Dur("duration", duration).Any("args", args).Str("sql", sql).Msg(msg)
}

