func (ctx DBContext) logQuery(msg string, err error, duration time.Duration, sql string, args ...interface{}) {
	if err != nil {
		ctx.logger.Error(msg, zap.Error(err), zap.Any("args", args), zap.String("sql", sql))
		return
	}

	if duration > time.Millisecond*500 {
		ctx.logger.Warn("[SLOW QUERY] " + msg, zap.Duration("duration", duration), zap.Any("args", args), zap.String("sql", sql))
		return
	}

	ctx.logger.Debug(msg, zap.Duration("duration", duration), zap.Any("args", args), zap.String("sql", sql))
}

