    // {{ .Name }} table
    {{ .GetTableName }} = `{{ .Name }}`
    {{ .GetCreateSqlName }} = `{{ .GetCreateSqlContent }}`
    {{ .GetCreateManySqlName }} = `{{ .GetCreateManySqlContent }}`
    {{ .GetUpsertSqlName }} = `{{ .GetUpsertSqlContent }}`
    {{ .GetUpsertManySqlName }} = `{{ .GetUpsertManySqlContent }}`
    {{ .GetUpdateSqlName }} = `{{ .GetUpdateSqlContent }}`
    {{ .GetUpdateManySqlName }} = `{{ .GetUpdateManySqlContent }}`
{{ if .GetDeleteSoftSqlName }}{{ .GetDeleteSoftSqlName }} = `{{ .GetDeleteSoftSqlContent }}`
{{end}}    {{ .GetDeleteHardSqlName }} = `{{ .GetDeleteHardSqlContent }}`
{{ range .GetSelectSql }}   {{ .Var }} = `{{ .Sql }}`
{{ end }}

