{{ range .GetSelectSql }}
// Find {{ .FromTable }} By ForeignKey {{ .Ref }}
//
//func (q *{{ .FromTable }}Queries) {{ .GetMethod }}({{ range .Fields }}{{ .Name }} {{ .Type }}, {{ end }}) ([]{{ .FromTable }}Model, error) {
//	return q.FindMany(func(cond SelectBuilder) SelectBuilder {
//		return cond{{ range .Fields }}.Where("{{ .Name }} = ?", {{ .Name }}){{ end }}
//	})
//}

// Find Relation {{ .ToTable }}'s childs ({{ .FromTable }} > {{ .ToTable }})
//func (q *{{ .ToTable }}Model) {{ .FromAccess }}(db *DBClient) ([]{{ .FromTable }}Model, error) {
//	return db.{{ .FromTable }}.{{ .GetMethod }}(&q.Id)
//}

// Find Relation {{ .FromTable }}'s parent ({{ .FromTable }} > {{ .ToTable }})
//func (q *{{ .FromTable }}Model) {{ .Ref }}(db *DBClient) (*{{ .ToTable }}Model, error) {
//	return db.{{ .ToTable }}.FindById({{ range .Fields }}*q.{{ .NameNormalized }}, {{ end }})
//}
{{ end }}

